body {
    text-align: justify;
}

header {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

header img {
    float: left;
    padding-right: 10px;
}

header h1 {
    position: relative;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h2 i.bi {
    padding-right: 10px;
}

h4.year {
    padding-top: 20px;
}

h5 { /* hike header */
    padding-top: 10px;
}

div.old, div.old a {
    color: gray;
}

ul {
    margin-left: 1.2rem;
    padding-left: 1.2rem;
    text-align: left;
}

.carousel {
    margin-bottom: 1rem;
}

.carousel-caption {
    bottom: -10px;
    right: 10px;
    color: white;
    font-size: 0.8em;
    text-align: right;
}
