body {
    text-align: justify;
}

header {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

header img {
    float: left;
    padding-right: 10px;
}

header h1 {
    position: relative;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h2 i.bi {
    padding-right: 10px;
}

ul {
    margin-left: 1.2rem;
    padding-left: 1.2rem;
    text-align: left;
}
